[Unit]
Description=Elastic Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/usr/local/bin/elastic
ExecStart=/usr/bin/env python3 start_elastic.py
Restart=always
RestartSec=5
TimeoutStartSec=3
TimeoutStopSec=3

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/var/log

[Install]
WantedBy=multi-user.target