Package: elastic-dashboard
Version: 1.0.0
Description: A simple and modern dashboard for FRC.
Section: development
Priority: optional
Maintainer: Elastic
Architecture: all
Source: local
X-Port: 5806
X-Display-Name: Elastic
X-Has-UI: true
X-Auto-Start: true
X-Icon-Path: /usr/share/elastic-dashboard.png
